@mixin size-sh {
  padding: 10px;
  padding-left: 20px;
  display: block;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
  margin-bottom: 2px;
  border-radius: 2px;
}

@mixin hov-btn {
  &:hover {
    background-color: lightgray;
  }
}

@mixin link-btn {
  display: inherit;
  background-color: #3CCACE;
  color:white;
  text-align: center;
  border-radius: 5px;
  padding: 20px;
  font-size: 18px;
}

@mixin link-hov {
  &:hover {
    opacity: 0.9;
  }
}