.main__box__right
  .main__box__right__contents
    %ul
      %li
        = link_to "プライバシーポリシー" 
      %li
        = link_to "フリマ利用規約" 
      %li
        =link_to "特定商取引に関する表記" 
  .main__box__right__logo
    = link_to image_tag("logo/logo.png", width: "80px", height: "65px", class: "footerLogo"), root_path
  %p © Furima Inc.