.purchaseConfirmation
  %header.purchaseConfirmation__head
    = render partial: "header_creditcards"
  
  .purchaseConfirmation__main
    .purchaseConfirmation__main__content
      .purchaseConfirmation__content__title
        購入内容の確認
      .purchaseConfirmation__content__item
        .purchaseConfirmation__contents__content__details
          .purchaseConfirmation__contents__content__details__name
          .purchaseConfirmation__contents__content__details__price
