.goodsContainer { 
  &__box {
    background-color: $bg-wh;
    padding-bottom: 32px;
    &__up--contents {
      height: 250px;
      width: 1000px;
      padding: 32px 0 0 32px;
      & img{
        
      }
    }
    &__down--contents {
      width: 700px;
      margin: 0 auto;
      .goodsCategory {
        &__parent {
          display: flex;
          flex-wrap: wrap;
          padding: 0 0 16px 0;
        }
        a {
          background-color: #fff;
          border-radius: 4px;
          min-width: 60px;
          line-height: 40px;
          box-shadow: 0 0 5px rgba(0,0,0,0.4);
          text-align: center;
          padding: 0 30px;
          margin: 5px;
          color: #333;
          text-decoration: none;
        }
        a:hover {
          color: white;
          background: #3CCACE;
        }
      }
      .goodsCategory--title {
        &__parents {
          border-radius: 6px;
          &__parent {
            background-color: #3CCACE;
            border-radius: 4px;
            padding: 16px 0 10px 8px;
            a {
              color: white;
              text-align: left;
              font-weight: bold;
              font-size: 22px;
              text-decoration: none;
            }
          }
        }
        &__childs {
          margin-bottom: 24px;
          background-color: white;
          padding: 16px 16px 8px 16px;
          &__child {
            a {
            font-weight: bold;
            font-size: 14px;
            color: black;
            text-decoration: none;
            } 
            &__glandchilds {
              display: flex;
              flex-wrap: wrap;
              padding: 0 0 30px 20px;
              &__glandchild {
                width: 50%;
                margin: 8px 0;
                a {
                  font-size: 13px;
                  font-weight: 50;
                  color: orange;
                  position: relative;
                }
                a::after {
                  position: absolute;
                  bottom: -3px;
                  left: 0;
                  content: '';
                  width: 100%;
                  height: 1px;
                  background: orange;
                  transform: scale(0, 1);
                  transform-origin: center top;
                  transition: transform .2s;
                }
                a:hover::after {
                transform: scale(1, 1);
                }
              } 
            }
          }
          .upBottom {
            background-color: white;
            
            a{
              color: black;
              text-decoration: none;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
//=====================================================
   //show.html.hamlのCSS
//=====================================================    

.main {
  &__box {
    background-color: #F8F8F8;
    padding:36px 0 36px 0;
    &__down--contents {
      width: 700px;
      margin: 0 auto;
      border-radius: 5px;
      .categories--title {
        h1 {
          border-radius: 5px 5px 0 0;
          padding: 16px 10px 8px;
          background-color: #3CCACE;
          color: #fff;
          text-align: center;
          font-weight: bold;
          font-size: 22px;
        }
      }
      .list--box {
        width: 700px;
        margin:0 auto;
        background-color: white;
        
        li {
          display: inline-block;
          margin: 10px;
          a {
            font-size: 13px;
            font-weight: 50;
            color: orange;
            text-decoration: none;
            position: relative;
          }
          a::after {
            position: absolute;
            bottom: -3px;
            left: 0;
            content: '';
            width: 100%;
            height: 1px;
            background: orange;
            transform: scale(0, 1);
            transform-origin: center top;
            transition: transform .2s;
          }
          a:hover::after {
            transform: scale(1, 1);
          }
        }
      }
      
      
      
      .products {
        margin:30px 0;
        display: flex;
        flex-wrap: wrap;
        .product {
          margin: 32px 0 0 10px;
          a {
            text-decoration: none;
            display: inline-block;
            width: 220px;
            height: 150px;
            figure.product--image {
              margin: 0 10px 0 0;
              height: 100%;
              position: relative;
              img {
                width: 220px;
                height: 150px;
                //中央でトリミングされる記述、非強な状況ではないけれど勉強したので残してます。
                object-fit: cover;
              }
              .item__sold {
                position: absolute;
                top: 50px;
                left: 50px;
                &__inner {
                  font-size: 30px;
                  font-weight: bold;
                  color: red;
                }
              }
            }
            .product--body {
              color: black;
              background-color: white;
              padding: 16px;
              h2 {
                font-size: 16px;
              }
              .details {
                text-decoration: none;
                ul {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  li {
                    font-size: 16px;
                  }
                }
                p {
                  font-size: 10px;
                }
              }
            }
          }
        }
        .product:hover {
          opacity: 0.5 ;
        }
      }
    }
  }
}