.breadcrumbs {
  a{
    margin-right: 10px;
    margin-left: 10px;
  }
  #text {
    margin-right: 10px;
    margin-left: 10px;
  }
  .current {
    margin-right: 10px;
    margin-left: 10px;
    font-weight: bold;
  }
}