header{
  height: 107.55px;
  width: 100%;
  background-color: white;
}

.headerUpper{
  height: 50.55px;
  width: calc(100% - 120px);
  margin: 0 60px 11px 60px;
  display: flex;
  padding: 20px 23px 0 23px;
  &__link{
    &__logo{
      height: 40.55px;
      width: 140px;
      margin-bottom: 10px;
    }
  }
  &__form{
    width: calc(100% - 40.55px - 35.72px - 30px );
    margin: 0 0 5px 30px;
    display: flex;
    &__field{
      padding-left: 5px;
    }
    &__btn{
      width: 35.72px;
      height: 36px;
      border-style: none;
      background-color: #3ccace;
      &__icon{
        width: 19.72px;
        height: 19.72px;
      }
    }
  }
  &__form input{
  height: 36px;
  width: calc(100% - 32px);
  }
}

.headerLower{
  width: calc(100% - 120px);
  height: 32px;
  font-size: 13px;
  margin: 22px 60px 0px 60px;
  padding: 0 23px;
  display: flex;
  justify-content: space-between;
  &__left a{
    margin-right: 40px;
  }
}
