a{
  color: #333333;
  text-decoration: none;
}

li {
  list-style: none;
}

*{
  box-sizing: border-box;
}

header{
  height: 97.55px;
  width: 100%;
  background-color: white;
}

.headerUpper{
  height: 50.55px;
  width: calc(100% - 120px);
  margin: 0 60px 11px 60px;
  display: flex;
  padding-top: 20px;
  &__link{
    &__logo{
      height: 40.55px;
      width: 140px;
      margin-bottom: 10px;
    }
  }
  &__form{
    width: calc(100% - 40.55px - 35.72px - 30px );
    margin: 0 0 5px 30px;
    display: flex;
    &__field{
      padding-left: 5px;
    }
    &__btn{
      width: 35.72px;
      height: 36px;
      border-style: none;
      background-color: #3ccace;
      &__icon{
        width: 19.72px;
        height: 19.72px;
      }
    }
  }
  &__form input{
  height: 36px;
  width: calc(100% - 32px);
  }
}

.headerLower{
  width: calc(100% - 120px);
  height: 32px;
  font-size: 13px;
  margin: 0 60px ;
  display: flex;
  justify-content: space-between;
  &__left a{
    margin-right: 30px;
  }
}

.main__topDl{
  width: 100%;
  height: 560px;
  background-image: image-url("bg-mainVisual-pict.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  &__title{
    height: 179px;
    color: #ffffff;
    font-size: 56px;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    padding-top: 95px;
    margin: auto 0 0 60px;
  }
  &__present{
    color: #ffffff;
    font-size: 16px;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    margin: 16px 0 0 60px;
  }
  &__banner{
    display: flex;
    margin: 34px 0 auto 60px;
    &__link{
      margin-right: 8px;
      &__badge{
        width: 180px;
        height: 53.33px;
      }
    }
  }
}

.main__reason{
  width: 100%;
  height: 660px;
  padding: 0 20px;
  align-items: center;
  &__title{
    width: 100%;
    height: 20px;
    padding-top: 40px;
    text-align: center;
    &__text{
      margin-bottom: 10px;
    }
    &__bar{
      width: 70px;
      height: 4px;
      margin: 0 auto 30px auto;
      border-top: solid 4px #3ccace;
    }
  }
  &__lists{
    max-width: 1020px;
    width: 100%;
    height: 540px;
    margin: 80px auto 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    &__list{
      width: 30%;
      margin-top: 16px;
      position: relative;
      &__number{
        width: 56.69px;
        height: 55px;
        color: #ffffff;
        font-size: 30px;
        text-align: center;
        line-height: 55px;
        background-color: #3ccace; 
        position: absolute; 
        top: 0;
        left: 0;
        z-index: 1;
      }
      &__img{
        width: 100%;
      }
      &__subTitle{
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin-top: 26px;
        &--mainColor{
          color: #3ccace;
        }
      }
      &__description{
        font-size: 18px;
        text-align: left;
        margin-top: 26px;
      }
    }
    &__list-center{
      width: 30%;
      margin: 16px 5% 0 5%;
      position: relative;
    }
  }
}

.main__midDl{
  width: 100%;
  height: 400px;
  background-image : url(..../assets/images/pict/bg-topMiddleDl-pict.jpg);
  background-position: bottom right;
  display: flex;
  flex-direction: column;
  &__title{
    width: 1040px;
    color: #ffffff;
    font-size: 27px;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    margin: auto auto 0 auto;
  }
  &__present{
    width: 1040px;
    color: #ffffff;
    font-size: 18px;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    margin: 20px auto 0 auto;
  }
  &__banner{
    width: 1040px;
    margin: 30px auto auto auto;
    &__badge{
      width: 180px;
      height: 53.33px;
      margin-right: 5px;
    }
  }
}

.main__features{
  width: 100%;
  padding: 60px 100px;
  align-items: center;
  &__title{
    width: 100%;
    padding-top: 40px;
    text-align: center;
    &__text{
      margin-bottom: 10px;
    }
    &__bar{
      width: 70px;
      height: 4px;
      margin: 0 auto 30px auto;
      border-top: solid 4px #3ccace;
    }
  }
  &__lists{
    max-width: 1060px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    &__list{
      width: calc(1 / 3 * 100%);
      text-align: center;
      padding: 0 20px;
      &__img{
        width: 70%;
        margin: 0 auto;
        line-height: 120px;
      }
      &__subTitle{
        margin: 38px 0 10px;
        font-size: 19px;
        font-weight: bold;
      }
      &__description{
        font-size: 17px;
        font-weight: 200;
        text-align: left;
        margin: 0 0 40px;
      }
    }
  }
}

.main__pickupCategory{
  width: 100%;
  height: 427px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  &__title{
    height: 39px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    line-height: 36px;
    margin-top: auto;
  }
  &__newItem{
    height: 36px;
    color: #3ccace;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    display: block;
  }
  &__itemLists{
    width: 880px;
    display: flex;
    justify-content: center;
    margin: 34px auto 0 auto;
    padding: 0;
    &__list{
      width: 220px;
      height: 245px;
      background-color: #ffffff;
      &__details{
        &__img{
          width: 220px;
          height: 150px;
        }
        &__name{
          height: 24px;
          font-size: 16px;
          margin: 16px 16px 0 16px;
        }
        &__price{
          width: 150px;
          height: 24px;  
          font-size: 16px;
          margin-left: 16px;
          display: inline-block;
        }
        &__favo{
          width: 36px;
          height: 24px;
          font-size: 16px;
          margin-right: 16px;
          display: inline;
        }
        &__tax{
          height: 16px;
          font-size: 10px;
          margin: 0 16px 16px 16px;
        }
      }
    }
  }
}

.main__pickupBrand{
  width: 100%;
  height: 532px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  &__title{
    height: 39px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    line-height: 36px;
    margin-top: auto;
  }
  &__newItem{
    height: 36px;
    color: #3ccace;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    display: block;
  }
  &__itemLists{
    width: 880px;
    display: flex;
    justify-content: center;
    margin: 34px auto auto auto;
    padding: 0;
    &__list{
      width: 220px;
      height: 245px;
      background-color: #ffffff;
      &__details{
        &__img{
          width: 220px;
          height: 150px;
        }
        &__name{
          height: 24px;
          font-size: 16px;
          margin: 16px 16px 0 16px;
        }
        &__price{
          width: 150px;
          height: 24px;  
          font-size: 16px;
          margin-left: 16px;
          display: inline-block;
        }
        &__favo{
          width: 36px;
          height: 24px;
          font-size: 16px;
          margin-right: 16px;
          display: inline;
        }
        &__tax{
          height: 16px;
          font-size: 10px;
          margin: 0 16px 16px 16px;
        }
      }
    }
  }
}

.main__btmDl{
  width: 100%;
  height: 360px;
  background-image: url(material/pict/bg-appBanner-pict.jpg);
  background-size: auto 100%;
  display: flex;
  flex-direction: column;
  &__title{
    height: 33px;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    margin: auto auto 0 auto;
  }
  &__present{
    height: 53px;
    font-size: 35px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    margin: 0 auto;
  }
  &__banner{
    width: 370px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto auto auto;
    &__link{
      &__badge{
        width: 180px;
        height: 53.33px;
      }
    }
  }
}

.footer{
  color: #ffffff;
  height: 355px;
  background-color: #272727;
  padding: 60px 0;
  &__lists{
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    &__list{
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      &__title{
        height: 24px;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 20px;
      }
      &__contents{
        &__link{
          color: #ffffff;
          height: 32px;
          font-size: 12px;
        }
      }
    }
  }
  &__logo{
    width: 160px;
    height: 46.34px;
    display: block;
    margin: 0 auto;
  }
  &__signature{
    width: 200px;
    height: 16px;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
  }
}

.exhibitionBtn{
  position: fixed;
  bottom: 32px;
  right: 32px;
  width: 120px;
  height: 116px;
  border-radius: 4%;
  background-color: #3ccace;
  text-align: center;
  &__icon{
    width: 54px;
    height: 54px;
  }
  &__text{
    width: 90px;
    height: 27px;
    color: #ffffff;
    font-size: 18px;
    margin: 15px auto 5px auto;
  }
}