@import "config/variable2";

.container {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow:scroll;
  padding: 0;
  margin: 0;
  background-color: #f5f5f5;
  .side{
    width: 280px;
    margin-top: 30px;
    margin-right: 50px;
    .side__nav{
      .side-list {
        list-style: none;
        margin-bottom: 50px;
        &__item--gray {
          background-color: #eee;
          @include size-sh;
          font-weight: bold;
          @include hov-btn;
        }
        &__item {
          background-color: #fff;
          @include size-sh;
          @include hov-btn;
        }
      }
      .bold {
        font-weight: bold;
        margin-bottom: 10px;
      }
    }
  }
  .container__right {
    height: 200px;
    width: 700px;
    background-color: #3ccace;
    border-radius: 3px;
    margin-top: 30px;
    .container__right__user {
      height: 200px;
      display: flex;
      text-align: center;
      position: relative;
      &--icon {
        position: absolute;
        top: 40px;
        right: 315px;
        bottom: 0;
        display: inline-block;
      }
      &--name {
        height: 20px;
        position: absolute;
        top: 120px;
        right: 0;
        left: 0; 
        bottom: 48px;
        font-weight: bold;
        font-size: 13px;
        display: inline-block;
      }
      .mypage-number {
        display: flex;
        margin: 0 auto;
        font-size: 12px;
        margin-top: 160px;
        .evaluation {
          &__number {
            font-weight: bold;
            margin-right: 3px;
          }
        }
        .exihibition {
          &__number {
            font-weight: bold;
            margin-right: 3px;
          }
        }
      }
    }
    .container-tab-notofication-todo {
      .container-tabs {
        display: flex;
        text-align: center;
        cursor: pointer;
        &__item {
          width: 50%;
          font-size: 17px;
          padding: 20px 60px;
          display: inline-block;
          background-color: #eee;
          }
        .active {
          background-color: white;
          display: inline-block;
          }
          h3 {
            font-weight: bold;
          }
        }
      }
      .container-body {
        width: 100%;
        
        &__item {
          display: none;
        }
        .show {
          height: 80px;
          display: block;
          background-color: white;
          border-bottom: solid 1px #eee;
          p {
            padding-top: 10px;
            font-size: 14px;
            padding-left: 10px;
            line-height: 2em;
          }
        }
      }
      .dealing-container {
        margin-top: 50px;
        h2 {
          background-color: #fafafa;
          padding: 25px 10px;
          font-weight: bold;
        }
          .container-dealing-tabs {
            background-color: white;
            display: flex;
            text-align: center;
            cursor: pointer;
            &__item {
              width: 50%;
              font-size: 17px;
              padding: 20px 60px;
              display: inline-block;
              background-color: #eee;
              }
            .active2 {
              background-color: white;
              display: inline-block;
            }
              h3 {
                font-weight: bold;
            }
          }
          .dealing-body {
            width: 100%;
            &__item {
              display: none;
            }
            .show2 {
              height: 150px;
              display: block;
              background-color: white;
              border-bottom: solid 1px #eee;
              display: flex;
              p {
                display: block;
                margin: 0 auto;
                padding-top: 50px;
                font-size: 20px;
                padding-left: 10px;
                line-height: 2em;
                color: #ccc;

              }
            }
          }
      }
    }
  }