.itemInfo{
  &__box{
    &__name{
    }
    &__firstImage{
      & img{
        width: 100%;
        height: 346px;
        width: 100%;
        object-fit: cover;
        vertical-align: bottom;
        }
    }
    &__imageList{
      width: 560px;
      height: 87px;
      margin: 10px auto 0 auto;
      display: flex;
      justify-content: center;
      &__images{
        width: 140px;
        height: 87px;
        & img{
          width: 100%;
          height: 87px;
          object-fit: cover;
          vertical-align: bottom;
        }
      }
    }
    &__price{
    }
    &__otherFee{
    }

    &__btn{
      &__exhibitor{
        display: flex;
        &__edit{
          color: red;
        }
        &__delete{
          color: red;
        }
      }
      &__purch{
        height: 116px;
        position: fixed;
        bottom: 32px;
        left: 32px;
        &:hover{
          opacity: 0.9;
        }
      }
      &__login{
        height: 116px;
        position: fixed;
        bottom: 32px;
        left: 32px;
        border-radius: 2%;
        &:hover{
          opacity: 0.9;
        }
      }
    }
  }
}