%section.main__btmDl
  .main__btmDl__title だれでもかんたん、人生を変えるフリマアプリ
  .main__btmDl__present 今すぐ無料ダウンロード！
  .main__btmDl__banner
    .main__btmDl__banner__link
      =link_to "#" do
        =image_tag("badge/app-store.svg", alt:'App-Store_Banner', class: 'main__btmDl__banner__link__badge')
    .main__btmDl__banner__link
      =link_to "#" do
        =image_tag("badge/google-play.svg", alt:'Google-Play_Banner', class: 'main__btmDl__banner__link__badge')