.footer
  .footer__lists
    %ul.footer__lists__list
      %li.footer__lists__list__title
        FURIMAについて
      %li.footer__lists__list__contents
        =link_to "#" do
          .footer__lists__list__contents__link
            会社概要（運営会社)
      %li.footer__lists__list__contents
        =link_to "#" do
          .footer__lists__list__contents__link
            プライバシーポリシー
      %li.footer__lists__list__contents
        =link_to "#" do
          .footer__lists__list__contents__link
            FURIMA利用規約
      %li.footer__lists__list__contents
        =link_to "#" do
          .footer__lists__list__contents__link
            ポイントに関する特約
    %ul.footer__lists__list
      %li.footer__lists__list__title
        FURIMAを見る
      %li.footer__lists__list__contents
        =link_to "#" do
          .footer__lists__list__contents__link
            カテゴリー一覧
      %li.footer__lists__list__contents
        =link_to "#" do
          .footer__lists__list__contents__link
            ブランド一覧
    %ul.footer__lists__list
      %li.footer__lists__list__title
        ヘルプ＆ガイド
      %li.footer__lists__list__contents
        =link_to "#" do
          .footer__lists__list__contents__link
            FURIMAガイド
      %li.footer__lists__list__contents
        =link_to "#" do
          .footer__lists__list__contents__link
            FURIMAロゴ利用ガイドライン
      %li.footer__lists__list__contents
        =link_to "#" do
          .footer__lists__list__contents__link
            お知らせ
  .footer__logo
    =link_to root_path do
      =image_tag("logo/logo-white.png", alt:'FURIMA-logo', class: 'footer__logo__img')
  .footer__signature © TECH::CAMP C_74
