.headerUpper
  =link_to "#" do
    .headerUpper__link
      =image_tag("logo/logo.png", alt:'FURIMA-logo', class: 'headerUpper__link__logo')
  =form_for "#" ,class:'headerUpper__form' do |form|
    =form.text_field :content, class:'headerUpper__form__field', placeholder:"キーワードから探す"
    =form.button '' , class:'headerUpper__form__btn' do
      =image_tag("/assets/icon/icon-search 1.png", alt:'Form-botton', class: 'headerUpper__form__btn__icon')

.headerLower
  .headerLower__left
    =link_to "#" do
      カテゴリー
    =link_to "#" do
      ブランド
  - if user_signed_in?
    .headerLower__right
      =link_to  user_path(current_user) do
        マイページ
      =link_to destroy_user_session_path, method: :delete do
        ログアウト
  - else 
    .headerLower__right
      =link_to new_user_session_path do
        ログイン
      =link_to new_user_registration_path do
        新規会員登録


