-#header,footer,ともに部分テンプレートを使用する
.main
  .main__box
    .main__box__down--contents
      .categories--title
        %h1  
          = "#{@category.name}の商品一覧"

      %ul.list--box
        - @category_display.each do |category|
          %li
            = link_to category.name, category_path(category)

      .products
        .product
          = link_to do
            %figure.product--image
              %img{src: "/assets/mako_image.png", height: "150px", width: "230px"}
            -#商品詳細ページへのリンクを貼る
            -#出品商品がないときには表示させないか、soldoutと写真に表示できるようにする
            .product--body
              %h2.name 商品  
              .details
                %ul
                  %li 1000円
                  %li.fa.fa-star
                    1
                %p <税込>
